* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

h2 {
  font-family: Poppins, sans-serif;
  color: rgb(255, 255, 255);
}

.wrapper {
  transform: translateY(90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.question-box {
  width: 1000px;
  height: 100px;
  padding: 20px;
  border: 10px ridge yellow;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  cursor: pointer;
  transition: 0.09s;
}

.btn:active {
  transform: scale(0.9);
}
